@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.montserrat {
  font-family: var(--font-montserrat);
}

/* .inter {
  font-family: var(--font-montserrat);
} */

/* .henderson {
  font-family: var(--font-henderson);
} */

.subtitle-icon-shadow {
  box-shadow: 0 0 18px rgba(0, 105, 255, 0.65);
  background-color: transparent;
}

.timeline-blue-shadow {
  box-shadow: 0 5px 22px rgba(0, 105, 255, 0.5);
}

.timeline-black-shadow {
  box-shadow: 0 5px 44px rgba(0, 0, 0, 0.1); /* Sombra negra */
}

.timeline-inner-shadow {
  box-shadow: inset 0 0 10px rgba(232, 232, 232, 1); /* Sombra interna gris */
}

.stock-ticker {
  font-size: 15px;
  padding-block: 8px;
  overflow: hidden;
  user-select: none;
  --gap: 20px;
  display: flex;
  gap: var(--gap);
  /* mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  ); */
}

.gradient {
  background: linear-gradient(to right, #1e3a8a, #3b82f6, #60a5fa);
}

.text-gradient {
  background: linear-gradient(to top, #000000, #4c96ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* .icon-shadow {
  box-shadow: 7px 7px 10px rgba(36, 131, 255, 0.5);
}

.text-shadow-blue {
  text-shadow: 2px 2px 4px rgba(42, 111, 250, 0.5); 
} */

.stock-ticker .list {
  list-style: none;
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
  animation: scroll 20s linear infinite;
}

/* .stock-ticker:hover .list {
  animation-play-state: paused;
} */

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.gradient-line {
  width: 10%;
  height: 2px;
  background-color: #ccc; /* Línea gris */
  position: relative;
  overflow: hidden;
}

/* Estilo para el efecto de rayo */
.gradient-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Abarca toda la línea */
  height: 2px;
  background: linear-gradient(to right, #4d3287, #00c1fc);
  transform: translateX(-100%);
  opacity: 0; /* Inicialmente invisible */
}

/* Animación en ciclo */
@keyframes cycle {
  0%,
  20%,
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
  25%,
  45% {
    transform: translateX(0);
    opacity: 1;
  }
  50%,
  70% {
    transform: translateX(100%);
    opacity: 0;
  }
}

/* Control de la animación para cada paso */
.step-0::before {
  animation: cycle 2s infinite;
  animation-delay: 0s;
}

.step-1::before {
  animation: cycle 2s infinite;
  animation-delay: 2s; /* Cambia a 2s para que inicie en el momento correcto */
}

.step-2::before {
  animation: cycle 2s infinite;
  animation-delay: 4s;
}

.gradient-line:not(.step-0)::before,
.gradient-line:not(.step-1)::before,
.gradient-line:not(.step-2)::before {
  opacity: 0;
}

@layer components {
  .container {
    @apply !w-[90%] sm:!w-[85%] !mx-auto;
  }
  .subtitle {
    @apply text-[hsl(215,76%,73%)] font-bold text-base mb-4 md:mb-2;
  }

  .title {
    @apply font-bold leading-none md:leading-tight;
  }

  .text-description {
    @apply mt-4 text-lg leading-relaxed md:text-lg space-y-7 text-slate-500 !text-[#425466];
  }

  /* .sectionStyle {
    @apply pt-10 md:pt-16 mt-[-100px] rounded-t-[30px] w-full;
  } */
  .sectionStyle {
    @apply w-full py-10 md:py-24;
  }
  /* .sectionStyleTranslate {
    @apply pt-10 md:pt-16 -translate-y-[100px] rounded-t-[30px] w-full;
  } */

  .bottomSection {
    @apply pb-[170px] md:pb-[200px];
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

.title-shadow {
  text-shadow: 0 0 30px rgba(255, 255, 255, 0.45);
}

.image-shadow {
  box-shadow: 0 0 70px 10px rgba(0, 108, 255, 0.4);
}
/* styles.css */

/* Sombra para estado normal */
/* .industry-item {
  transition: box-shadow 0.3s ease;
} */

/* Sombra fuerte en hover */
.industry-item-hover-blue-soft:hover {
  box-shadow: 0 4px 12px rgba(163, 198, 255, 0.7); /* Azul suave con opacidad fuerte */
}

.industry-item-hover-orange-soft:hover {
  box-shadow: 0 4px 12px rgba(255, 209, 163, 0.7); /* Naranja suave con opacidad fuerte */
}

.industry-item-hover-green-soft:hover {
  box-shadow: 0 4px 12px rgba(163, 255, 209, 0.7); /* Verde suave con opacidad fuerte */
}

.industry-item-hover-pink-soft:hover {
  box-shadow: 0 4px 12px rgba(255, 198, 163, 0.7); /* Rosa suave con opacidad fuerte */
}

.industry-item-hover-purple-soft:hover {
  box-shadow: 0 4px 12px rgba(209, 163, 255, 0.7); /* Púrpura suave con opacidad fuerte */
}

.industry-item-hover-pale-pink:hover {
  box-shadow: 0 4px 12px rgba(255, 209, 209, 0.7); /* Rosa pálido con opacidad fuerte */
}

.industry-item-hover-light-blue:hover {
  box-shadow: 0 4px 12px rgba(163, 209, 255, 0.7); /* Azul claro con opacidad fuerte */
}

.industry-item-hover-yellow-soft:hover {
  box-shadow: 0 4px 12px rgba(255, 230, 163, 0.7); /* Amarillo suave con opacidad fuerte */
}

.industry-item-hover-red-soft:hover {
  box-shadow: 0 4px 12px rgba(255, 163, 163, 0.7); /* Rojo suave con opacidad fuerte */
}

.industry-item-hover-teal:hover {
  box-shadow: 0 4px 12px rgba(163, 255, 230, 0.7); /* Verde agua con opacidad fuerte */
}

.text-relieve {
  font-size: 3rem; /* Ajusta el tamaño de la fuente según sea necesario */
  font-weight: bold; /* Hace que el texto sea más grueso para mejorar el efecto de relieve */
  color: #c0c0c0; /* Color plateado */
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8),
    /* Efecto de brillo ligero alrededor del texto */ -1px -1px 2px
      rgba(0, 0, 0, 0.5); /* Efecto de profundidad para crear el relieve */
}
