@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.montserrat {
  font-family: var(--font-montserrat);
}

/* .inter {
  font-family: var(--font-montserrat);
} */

/* .henderson {
  font-family: var(--font-henderson);
} */

/* .subtitle-icon-shadow {
  box-shadow: 0 0 18px rgba(0, 105, 255, 0.65);
  background-color: transparent;
} */

.pulse-animation{
  height: 30px;
  width: 30px;
  border-radius: 90%;
  background-color: white;
  animation: 1.5s pulse infinite ease-in-out;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 white;
  }

  100% {
    box-shadow: 0 0 0 14px #69ffa800;
  }
}


.subtitle-icon-shadow {
  filter: drop-shadow(0px 0px 4px #85b0ee);
  background-color: transparent;
}

/* .subtitle-icon-shadow {
  text-shadow: 0 0 18px rgba(0, 105, 255, 0.65);
  background-color: transparent;
} */

.timeline-blue-shadow {
  box-shadow: 0 5px 22px rgba(0, 105, 255, 0.5);
}

.timeline-black-shadow {
  box-shadow: 0 5px 44px rgba(0, 0, 0, 0.1); /* Sombra negra */
}

.timeline-inner-shadow {
  box-shadow: inset 0 0 10px rgba(232, 232, 232, 1); /* Sombra interna gris */
}

.stock-ticker {
  font-size: 15px;
  padding-block: 8px;
  overflow: hidden;
  user-select: none;
  --gap: 20px;
  display: flex;
  gap: var(--gap);
  /* mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  ); */
}

.gradient {
  background: linear-gradient(to right, #1e3a8a, #3b82f6, #60a5fa);
}

.text-gradient {
  background: linear-gradient(to top, #000000, #4c96ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* .icon-shadow {
  box-shadow: 7px 7px 10px rgba(36, 131, 255, 0.5);
}

.text-shadow-blue {
  text-shadow: 2px 2px 4px rgba(42, 111, 250, 0.5); 
} */

.stock-ticker .list {
  list-style: none;
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
  animation: scroll 50s linear infinite;
}

/* .stock-ticker:hover .list {
  animation-play-state: paused;
} */

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.gradient-line {
  width: 10%;
  height: 2px;
  background-color: #ccc; /* Línea gris */
  position: relative;
  overflow: hidden;
}

/* Estilo para el efecto de rayo */
.gradient-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Abarca toda la línea */
  height: 2px;
  background: linear-gradient(to right, #4d3287, #00c1fc);
  transform: translateX(-100%);
  opacity: 0; /* Inicialmente invisible */
}

/* Animación en ciclo */
@keyframes cycle {
  0%,
  20%,
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
  25%,
  45% {
    transform: translateX(0);
    opacity: 1;
  }
  50%,
  70% {
    transform: translateX(100%);
    opacity: 0;
  }
}

/* Control de la animación para cada paso */
.step-0::before {
  animation: cycle 2s infinite;
  animation-delay: 0s;
}

.step-1::before {
  animation: cycle 2s infinite;
  animation-delay: 2s; /* Cambia a 2s para que inicie en el momento correcto */
}

.step-2::before {
  animation: cycle 2s infinite;
  animation-delay: 4s;
}

.gradient-line:not(.step-0)::before,
.gradient-line:not(.step-1)::before,
.gradient-line:not(.step-2)::before {
  opacity: 0;
}

@layer components {
  .container {
    @apply !w-[90%] sm:!w-[85%] !mx-auto;
  }
  .subtitle {
    @apply text-[hsl(215,76%,73%)] font-bold text-base mb-4 md:mb-2;
  }

  .title {
    @apply font-bold leading-none md:leading-tight;
  }

  .text-description {
    @apply mt-4 text-lg leading-relaxed md:text-lg space-y-7 text-slate-500 !text-[#425466];
  }

  .timelinne-border-base {
    @apply border-s-gray-[#006BFC];
  }

  .timelinne-border-blue {
    @apply border-s-gray-[#006BFC];
  }

  .sectionStyle {
    @apply w-full mt-16 md:mt-24;
  }

  .sectionStylePadding {
    @apply w-full py-16 md:py-24;
  }

  .bottomSection {
    @apply pb-[170px] md:pb-[200px];
  }

  .blue-hover{
    @apply bg-gradient-to-r from-blue-600 to-blue-800 inline-block text-transparent bg-clip-text;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5; /* Ajusta el espacio entre líneas si lo necesitas */
  max-height: 3em; /* 2 líneas de altura basadas en el line-height */
  height: 3em; /* Para asegurar que siempre ocupe el espacio de 2 líneas */
}

.clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5; /* Ajusta el espacio entre líneas si lo necesitas */
  max-height: 4.5em; /* 3 líneas de altura basadas en el line-height */
  height: 4.5em; /* Para asegurar que siempre ocupe el espacio de 3 líneas */
}

.clamp-2-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clamp-3-title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

.title-shadow {
  text-shadow: 0 0 30px rgba(255, 255, 255, 0.45);
}

.image-shadow-desktop {
  box-shadow: 0 0 70px 10px rgba(0, 108, 255, 0.4);
}

.image-shadow-mobile {
  box-shadow: 0 0 12px 3px rgba(0, 108, 255, 0.4); /* Sombra más ligera */
}
/* styles.css */

/* Sombra para estado normal */
/* .industry-item {
  transition: box-shadow 0.3s ease;
} */

/* Sombra fuerte en hover */
.industry-item-hover-blue-soft:hover {
  box-shadow: 0 4px 12px rgba(163, 198, 255, 0.7); /* Azul suave con opacidad fuerte */
}

.industry-item-hover-orange-soft:hover {
  box-shadow: 0 4px 12px rgba(255, 209, 163, 0.7); /* Naranja suave con opacidad fuerte */
}

.industry-item-hover-green-soft:hover {
  box-shadow: 0 4px 12px rgba(163, 255, 209, 0.7); /* Verde suave con opacidad fuerte */
}

.industry-item-hover-pink-soft:hover {
  box-shadow: 0 4px 12px rgba(255, 198, 163, 0.7); /* Rosa suave con opacidad fuerte */
}

.industry-item-hover-purple-soft:hover {
  box-shadow: 0 4px 12px rgba(209, 163, 255, 0.7); /* Púrpura suave con opacidad fuerte */
}

.industry-item-hover-pale-pink:hover {
  box-shadow: 0 4px 12px rgba(255, 209, 209, 0.7); /* Rosa pálido con opacidad fuerte */
}

.industry-item-hover-light-blue:hover {
  box-shadow: 0 4px 12px rgba(163, 209, 255, 0.7); /* Azul claro con opacidad fuerte */
}

.industry-item-hover-yellow-soft:hover {
  box-shadow: 0 4px 12px rgba(255, 230, 163, 0.7); /* Amarillo suave con opacidad fuerte */
}

.industry-item-hover-red-soft:hover {
  box-shadow: 0 4px 12px rgba(255, 163, 163, 0.7); /* Rojo suave con opacidad fuerte */
}

.industry-item-hover-teal:hover {
  box-shadow: 0 4px 12px rgba(163, 255, 230, 0.7); /* Verde agua con opacidad fuerte */
}

.text-relieve {
  font-size: 3rem; /* Ajusta el tamaño de la fuente según sea necesario */
  font-weight: bold; /* Hace que el texto sea más grueso para mejorar el efecto de relieve */
  color: #c0c0c0; /* Color plateado */
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8),
    /* Efecto de brillo ligero alrededor del texto */ -1px -1px 2px
      rgba(0, 0, 0, 0.5); /* Efecto de profundidad para crear el relieve */
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #4c96ff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border: 8px solid #f3f3f3; /* Color del fondo */
  border-top: 8px solid #3498db; /* Color de la parte superior */
  border-radius: 50%;
  width: 50px; /* Ancho del spinner */
  height: 50px; /* Alto del spinner */
  animation: spin 2s linear infinite; /* Animación del spinner */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.shadow-effect {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.text-gradient {
  background: linear-gradient(
    to right,
    #0e74ff,
    #396fbd
  ); /* Gradiente que deseas */
  -webkit-background-clip: text; /* Para recortar el fondo al texto */
  -webkit-text-fill-color: transparent; /* Hacer que el color del texto sea transparente */
}

.truncate-3-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shine-button {
  position: relative;
  display: inline-flex;
  transition: all 0.3s ease-in-out;
  
}

.shine-button:hover {
  transform: scale(1.05);
}

.shine-button .icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.shine-button:hover .icon {
  transform: translate(4px);
}

.shine-button:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.shine-button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }
  60% {
    left: 100%;
  }
  to {
    left: 100%;
  }
}

.card {
  border-radius: 20px;
  position: relative;
  border: 2px solid ;

  border-color: transparent;
  /* transition: 0.5s ease-out; */
  /* overflow: visible; */
 }

 .card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
 }
 

.card:hover {
  border: 2px solid ;

  border-color: #008bf8;

  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }


 .bg-container{

  --color: #3B82F6;
  background: linear-gradient(95deg, var(--color) 25%, transparent 25%) -50px 0,
        linear-gradient(-15deg, var(--color) 25%, transparent 25%) -50px 0,
        linear-gradient(25deg, transparent 75%, var(--color) 75%) -50px 0,
        linear-gradient(-45deg, transparent 75%, var(--color) 75%) -50px 0,
        linear-gradient(-15deg, transparent 75%, var(--color) 75%) -50px 0;
  background-color: #60a5fa;
  background-size: 40px 40px;

 }

 /* 3d */

 /* From Uiverse.io by Cornerstone-04 */ 
.cards {
  perspective: 500px;
}

.tresd-card {

  position: relative;
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform .5s;
}

.tresd-card:hover {
  transform: translateZ(10px) rotateX(20deg) rotateY(20deg);
}


@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

* {
	font-family: "Roboto", sans-serif;
}

button.wh-ap-btn {
	outline: none;
	width: 75px;
	height: 75px;
	border: 0;
	background-color: #2ecc71;
	padding: 0;
	border-radius: 100%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.27);
	cursor: pointer;
	transition: opacity 0.3s, background 0.3s, box-shadow 0.3s;
}

button.wh-ap-btn::after {
	content: "";
	background-image: url("//i.imgur.com/cAS6qqn.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 70%;
	width: 100%;
	height: 100%;
	display: block;
	opacity: 1;
}

button.wh-ap-btn:hover {
	opacity: 1;
	background-color: #20bf6b;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.18), 0 4px 8px rgba(0, 0, 0, 0.30);
}

.wh-api {
	position: fixed;
	bottom: 0;
	right: 0;
}

.wh-fixed {
	margin-right: 20px; 
	margin-bottom: 20px; 
}

.wh-fixed > a {
	display: block;
	text-decoration: none;
}

button.wh-ap-btn::before {
	display: block;
	position: absolute;
	margin-left: -160px;
	margin-top: 18px;
	height: 30px;
	background: #49654e;
	color: #fff;
	font-weight: 400;
	font-size: 18px;
	border-radius: 3px;
	width: 0;
	opacity: 0;
	padding: 0;
	transition: opacity 0.4s, width 0.4s, padding 0.5s;
	padding-top: 10px;
	border-radius: 30px;
	box-shadow: 0 2px 18px rgba(32, 33, 36, 0.30);
}

.wh-fixed > a:hover button.wh-ap-btn::before {
	opacity: 1;
	width: auto;
	padding-top: 10px;
	padding-left: 12px;
	padding-right: 12px;
	width: 120px;
}

.whatsapp-pulse {
	width: 75px;
	height: 75px;
	right: 0;
	bottom: 0;
	background: #10b418;
	position: fixed;
	text-align: center;
	color: #ffffff;
	cursor: pointer;
	border-radius: 50%;
	z-index: 99;
	display: inline-block;
	line-height: 80px;
}

.whatsapp-pulse:before {
	position: absolute;
	content: " ";
	z-index: -99;
	bottom: -18px;
	right: -18px;
	background-color: #10b418;
	width: 110px;
	height: 110px;
	border-radius: 100%;
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
	opacity: 0.6;
	-webkit-animation: pulse 1.2s ease-out;
	animation: pulse 2s ease-out;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0);
		opacity: 0;
	}
	25% {
		-webkit-transform: scale(0.3);
		opacity: 1;
	}
	50% {
		-webkit-transform: scale(0.6);
		opacity: 0.6;
	}
	75% {
		-webkit-transform: scale(0.9);
		opacity: 0.3;
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 0;
	}
}

@keyframes pulse {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	25% {
		transform: scale(0.3);
		opacity: 1;
	}
	50% {
		transform: scale(0.6);
		opacity: 0.6;
	}
	75% {
		transform: scale(0.9);
		opacity: 0.3;
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}

@media (max-width: 600px) {
	button.wh-ap-btn, .whatsapp-pulse {
		width: 60px;
		height: 60px;
		line-height: 65px;
	}
	.whatsapp-pulse:before {
		width: 90px;
		height: 90px;
		bottom: -15px;
		right: -15px;
	}
  .wh-fixed {
    margin-right: 14px; 
    margin-bottom: 14px; 
  }
}
